<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goods">
	<select id="totalRecord" resultType="goodsVO">
	select goods_no,goods_image1,goods_name,goods_price,goods_addr,cnt,goods_date from
	(select rownum n,goods_no,goods_image1,goods_name,goods_price,goods_addr,cnt,goods_date,goods_category from 
	(select g.goods_no o,g.goods_name,g.goods_price,g.goods_addr,to_char(g.goods_date,'yy-mm-dd') goods_date, nvl(gfc.c,0) cnt,g.goods_category from goods g
	left join 
	(select goods_no gn,count(*) c from goods_favor group by goods_no) gfc 
	on(g.goods_no=gfc.gn )) cn ,
	goods_detail gd
	where gd.goods_no=cn.o 
	<if test="goods_category!=null">
		and goods_category = #{goods_category}
	</if> 
	<if test="keywordGoods != null">
		and goods_name like '%'||#{keywordGoods}||'%'
	</if>
	order by goods_no desc)
	<if test="member_no != null and member_no !=0">
		where goods_addr like (select member_addr from member where member_no=#{member_no})
	</if>
  </select>
  <select id="listAllGoods" resultType="goodsVO">
	select goods_no,goods_image1,goods_name,goods_price,goods_addr,cnt,goods_date from
	(select rownum n,goods_no,goods_image1,goods_name,goods_price,goods_addr,cnt,goods_date,goods_category from 
	(select g.goods_no o,g.goods_name,g.goods_price,g.goods_addr,to_char(g.goods_date,'yy-mm-dd') goods_date, nvl(gfc.c,0) cnt,g.goods_category from goods g
	left join 
	(select goods_no gn,count(*) c from goods_favor group by goods_no) gfc 
	on(g.goods_no=gfc.gn )) cn ,
	goods_detail gd
	where gd.goods_no=cn.o 
	<if test="goods_category!=null">
		and goods_category = #{goods_category}
	</if> 
	<if test="keywordGoods != null">
		and goods_name like '%'||#{keywordGoods}||'%'
	</if>
	order by goods_no desc)
	where n between #{start} and #{end}
	<if test="member_no != null and member_no !=0">
		and goods_addr like (select member_addr from member where member_no=#{member_no})
	</if>
	
	<if test="orderColumn != null">
		order by ${orderColumn} desc
	</if>
		
  </select>
  <select id="max" resultType="java.lang.Integer">
	select max(goods_no) from goods
  </select>
  <select id="getGoodsImage" resultType="goodsDetailVO">
  	select goods_image1,goods_image2,goods_image3,goods_image4, goods_content, goods_condition,goods_state
	from goods_detail  where goods_no=#{goods_no}
  </select>
  <select id="getGoodsInfo" resultType="goodsVO">
	select goods_no,goods_name, goods_price, goods_addr, to_char(goods_date,'yyyy-mm-dd') goods_date,member_nickname,member_level,g.member_no member_no
	from goods g, member m where g.member_no=m.member_no and goods_no=#{goods_no}
  </select>
 
  <select id="sellerMember" resultType="goodsVO">
 	select member_nickname, member_level 
	from member m, goods g 
	where m.member_no=g.member_no and g.goods_no=#{goods_no}
  </select>
  <select id="sellerGoods" resultType="goodsVO">
    select goods_image1, goods_name,goods_price ,member_no,g.goods_no goods_no
	from goods g,
	(select goods_no, goods_image1, goods_state
	from goods_detail where goods_condition=1) gd 
	where g.goods_no = gd.goods_no and 
	g.member_no = (select member_no from goods where goods_no=#{goods_no})
  </select>
  <select id="sellerGoodsSold" resultType="goodsVO">
     select goods_image1, goods_name,goods_price,g.goods_no goods_no
	from goods g,
	(select goods_no, goods_image1, goods_state 
	from goods_detail where goods_condition=3) gd 
	where g.goods_no = gd.goods_no and 
	g.member_no = (select member_no from goods where goods_no=#{goods_no})
  </select>
  <select id="sellerReview" resultType="goodsReviewVO">
  select goods_score, goods_review from(
	select rownum num,goods_score, goods_review from goods_review 
	where goods_no in (select goods_no from goods where member_no=#{member_no})
	)where num between #{start} and #{end} 
  </select>
  <select id="totalRecordReview" resultType="goodsReviewVO">
  	  select goods_score, goods_review from(
	select rownum num,goods_score, goods_review from goods_review 
	where goods_no in (select goods_no from goods where member_no=#{member_no})
	)
  </select>
  <select id="getMember" resultType="java.lang.Integer">
  select member_no from goods where goods_no=#{goods_no}
  </select>
  <update id="updateGoodsCondition" parameterType="goodsDetailVO">
  	update goods_detail set goods_condition=#{goods_condition} where goods_no=#{goods_no}
  </update>
  <insert id="insertFavor" parameterType="goodsFavorVO">
  	insert into goods_favor values((select nvl(max(goods_favor_no),0)+1 from goods_favor),#{goods_no},#{member_no})
  </insert>
  <delete id="deleteFavor">
  	delete goods_favor where goods_no=#{goods_no} and member_no = #{member_no}
  </delete>
  <select id="favorGoods" resultType="java.lang.String">
  	select goods_favor_no from goods_favor where goods_no=#{goods_no} and member_no = #{member_no}
  </select>
</mapper>