<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
 	<select id="detailMember" resultType="memberVO">
  		select member_no,member_id,member_pwd,member_name,member_nickname,member_gender,member_tel,to_char(member_birth,'yyyy/mm/dd') member_birth,member_addr,member_addr,member_loc 
  		 from member where member_no=#{member_no}
  	</select> 
  	
  	<update id="updateMember" parameterType="memberVO">
  		update member set member_pwd=#{member_pwd},member_nickname=#{member_nickname},member_tel=#{member_tel},member_addr=#{member_addr},member_loc=#{member_loc} 
		 where member_no=#{member_no}
  	</update>
  	
  	<delete id="deleteMember" parameterType="memberVO">
  		delete member where member_no=#{member_no}
  	</delete>
</mapper>