<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qna">
 	<select id="listQnaByMember" resultType="qnaVO">  		
		select qna_no,qna_title,qna_content,qna_process,qna_comment,qna_type from qna where member_no=#{member_no} order by qna_no desc
  	</select> 
  	
  	<select id="getQna" resultType="qnaVO">
  		select qna_title,qna_content,qna_comment,qna_type from qna where qna_no=#{qna_no}
  	</select>
</mapper>