<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sgc">
  <!-- 소모임 댓글 번호 -->
  <select id="getSGCNo" resultType="java.lang.Integer">
  	select nvl(max(sg_comment_no),0)+1 from small_group_comment 
  </select>
  <!-- 소모임 댓글 등록 -->
  <insert id="insertSGC" parameterType="sgcVO">
  	insert into small_group_comment values (#{sg_comment_no},#{sg_comment},sysdate,#{sg_no},#{member_no},#{member_nickname})
 <!-- insert into small_group_comment values (#{sg_comment_no},#{sg_comment},sysdate,#{sg_no},#{member_no},#{member_nickname},#{sg_ref},#{sg_level},#{sg_step})-->
  </insert>
  
  <!-- 소모임 댓글 리스트 -->
  <select id="listSGC" resultType="sgcVO">
 	select * from small_group_comment where sg_no=#{sg_no} order by sg_comment_date desc
  </select>
  
  <!-- 소모임 대댓글  
  <select id="findByNo" resultType="sgcVO">
  	select * from small_group_comment where sg_comment_no=#{sg_comment_no}
  </select>
  -->
  <!-- update step
  <update id="updateStep">
  	update small_group_comment set sg_step=sg_step+1 where sg_ref=#{sg_ref} and sg_step=#{sg_step}
  </update>
   -->
   
  <!-- 소모임 댓글 개수 -->
  <select id="countSGC" resultType="java.lang.Integer">
  	select count(*) from small_group_comment where sg_no=#{sg_no}
  </select>
  <!-- 소모임 댓글 수정 -->
  <update id="updateSGC" parameterType="sgcVO">
   update small_group_comment set sg_comment=#{sg_comment} where sg_comment_no=#{sg_comment_no}
  </update>
  <!-- 소모임 댓글 삭제 -->
  <delete id="deleteSGC">
   delete small_group_comment where sg_comment_no=#{sg_comment_no}
  </delete>
</mapper>