<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smallGroup">
 	<select id="searchSGByMain" resultType="sgVO">
  		select sg_no,sg_title,member_nickname,to_char(sg_date,'yyyy/mm/dd') sg_date 
		 from small_group s,member m 
		 where s.member_no=m.member_no and 
		 sg_title like '%'||#{searchkeyword}||'%' order by sg_no desc
  	</select>
  	
  	<select id="listSGByMember" resultType="sgVO">
  	  select sg_no,sg_title,to_char(sg_date,'yyyy/mm/dd') sg_date from small_group where member_no=#{member_no} order by sg_no desc
  	</select>
  	
  	<select id="listSGCByMember" resultType="sgcVO">
  	  select sg_no,sg_comment,to_char(sg_comment_date,'yyyy/mm/dd') sg_comment_date from small_group_comment where member_no=#{member_no} order by sg_comment_no desc
  	</select>
  	
  	 <!-- 소모임 번호 -->
	  <select id="getSGNo" resultType="java.lang.Integer">
	  	select nvl(max(sg_no),0)+1 from small_group
	  </select>
	  <!-- 소모임 등록 -->
	  <insert id="insertSG" parameterType="sgVO">
	  	insert into small_group values (#{sg_no},#{sg_title},sysdate,#{sg_content},#{member_no},#{member_nickname})
	  </insert>
	  <!-- 전체 레코드 수 -->
	  <select id="totalRecord" resultType="java.lang.Integer">
	  	select count(*) from small_group
	  </select>
	  <!-- 소모임 리스트 -->
	  <select id="listSG" resultType="sgVO">
	 	select * from
		( select rownum num, sg_no,sg_title,sg_date,sg_content,member_no,member_nickname
		from (select * from small_group order by sg_date desc))
		where num between #{start} and #{end}
	  </select>
	  <!-- 소모임 상세 -->
	  <select id="getSG" resultType="sgVO">
	  	select * from small_group where sg_no=#{sg_no}
	  </select>
	  <!-- 소모임 수정 -->
	  <update id="updateSG" parameterType="sgVO">
	  	update small_group set sg_title=#{sg_title},sg_content=#{sg_content} where sg_no=#{sg_no} and member_no=#{member_no}
	  </update>
	  <!-- 소모임 삭제 -->
	  <delete id="deleteSG">
	  	delete small_group where sg_no=#{sg_no}
	  </delete>
	  <!-- 소모임 댓글 번호 -->
	  <select id="getSGCNo" resultType="java.lang.Integer">
	  	select nvl(max(sg_comment_no),0)+1 from small_group_comment 
	  </select>
	  <!-- 소모임 댓글 등록 -->
	  <insert id="insertSGC" parameterType="sgcVO">
	  	insert into small_group_comment values (#{sg_comment_no},#{sg_comment},sysdate,#{sg_no},#{member_no},#{member_nickname})
	 <!-- insert into small_group_comment values (#{sg_comment_no},#{sg_comment},sysdate,#{sg_no},#{member_no},#{member_nickname},#{sg_ref},#{sg_level},#{sg_step})-->
	  </insert>
	  
	  <!-- 소모임 댓글 리스트 -->
	  <select id="listSGC" resultType="sgcVO">
	 	select * from small_group_comment where sg_no=#{sg_no} order by sg_comment_date desc
	  </select>
	  
	  <!-- 소모임 대댓글  
	  <select id="findByNo" resultType="sgcVO">
	  	select * from small_group_comment where sg_comment_no=#{sg_comment_no}
	  </select>
	  -->
	  <!-- update step
	  <update id="updateStep">
	  	update small_group_comment set sg_step=sg_step+1 where sg_ref=#{sg_ref} and sg_step=#{sg_step}
	  </update>
	   -->
	   
	  <!-- 소모임 댓글 개수 -->
	  <select id="countSGC" resultType="java.lang.Integer">
	  	select count(*) from small_group_comment where sg_no=#{sg_no}
	  </select>
	  <!-- 소모임 댓글 수정 -->
	  <update id="updateSGC" parameterType="sgcVO">
	   update small_group_comment set sg_comment=#{sg_comment} where sg_comment_no=#{sg_comment_no}
	  </update>
	  <!-- 소모임 댓글 삭제 -->
	  <delete id="deleteSGC">
	   delete small_group_comment where sg_comment_no=#{sg_comment_no}
	  </delete>
</mapper>